<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Testing</title>
</head>
<body>
      <div style="transform:translate(50%,50%)">
          <h1>{{message}}</h1>
      </div> 
</body>
</html>
