<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Testing</title>
</head>
<body>
        {{>header}}
    <h1>{{title}} {{name}} !!!</h1>
    <a href="/about"></a>
    {{>footer}}
</body>
</html>
